
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




.navbar {
  transition: all 0.6s ease;
}

#sobre {
  scroll-margin-top: 80px;
}

.navbar-brand {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.nav-link {
  color: #ddd !important;
  font-weight: 500;
  transition: color 0.4s ease;
}

.nav-link:hover {
  color: #d40000 !important;
}


body {
  padding-top: 70px; 
}


.foto {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #d40000;
  box-shadow: 0 0 40px rgba(212, 0, 0, 0.4);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.foto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 60px rgba(212, 0, 0, 0.6);
}


.nome {
  color: #d40000;
  letter-spacing: 1px;
  font-size: 50px;
}

#typing {
  border-right: 2px solid #d40000;
  padding-right: 4px;
  animation: blink 0.7s infinite;
  color: #d40000;
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: rgb(255, 0, 0); }
  100% { border-color: transparent; }
}

.descricao {
  font-size: 1.1rem;
  color: #ddd;
  line-height: 1.6;
}



.btn-outline-danger {
  border-color: #000000;
  color: #000000;
  background-color: #ff0000;
  border-radius: 25px;
  padding: 10px 25px;
  transition: all 0.3s ease;
}

.btn-outline-danger:hover {
  background-color: #000000;
  color: #ff0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}


@media (min-width: 992px) {
  #carouselProjetos img {
    max-height: 500px; 
  }
}

  .descricao {
    font-size: 1rem;
  }



#carouselProjetos img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-indicators [data-bs-target] {
  background-color: #d40000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); 
}

section h2 {
  color: #d40000;
  font-weight: 600;
  letter-spacing: 1px;
}

